:root {
  --primaryColor: #ff206e;
  --secondaryColor: #393e41;
  --terciaryColor: #bc412b;
  --quaternaryColor: #f2a65a;
  --quinaryColor: #c5e7e2;
  --primaryFont: "Oswald", sans-serif;
  --secondaryFont: "Source Sans Pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
