:root {
  --primaryColor: #0b5563;
  --secondaryColor: #393e41;
  --terciaryColor: #18206f;
  --quaternaryColor: #ff0054;
  --quinaryColor: #c5e7e2;
  --primaryFont: "Oswald", sans-serif;
  --secondaryFont: "Source Sans Pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Banner */

header {
  background: url(https://media.giphy.com/media/l2SpLu8KmdUv9XCgM/giphy.gif);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 2rem;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main {
  display: flex;
  font-family: var(--secondaryFont);
  text-align: center;
  justify-content: left;
  margin-top: 2rem;
  flex-direction: column;
  width: 100%;
}

.title {
  display: flex;
  font-family: var(--primaryFont);
  text-shadow: 1px 1px 1px black;
  color: var(--quinaryColor);
  animation-name: apparition;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  margin: 1rem;
  justify-content: center;
  font-size: 3rem;
}

.subtitle {
  display: flex;
  padding: 1.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(
    to left,
    var(--primaryColor) 85%,
    rgba(0, 0, 0, 0)
  );
  width: 700px;
  justify-content: end;
  margin: 1rem;
  box-shadow: 10px 10px black;
}

.picture {
  box-shadow: 3px 3px 5px black;
  position: absolute;
  left: 5rem;
  top: 6rem;
  border-radius: 10px;
}

.btn-banner {
  border-bottom-right-radius: 40px;
  letter-spacing: 0.1rem;
  font-family: var(--primaryFont);
  text-decoration: none;
  background: linear-gradient(
    to left,
    var(--quinaryColor) 75%,
    rgba(0, 0, 0, 0)
  );
  color: var(--secondaryColor);
  padding: 1rem 10rem 1rem 5rem;
  margin: 5rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  display: flex;
}

.btn-banner:hover {
  color: var(--quinaryColor);
  background: linear-gradient(
    to left,
    var(--secondaryColor) 75%,
    rgba(0, 0, 0, 0)
  );
}

/* end Banner */

/* about me */

.about {
  display: flex;
}

.aboutBe,
.aboutDo {
  font-family: var(--primaryFont);
  background: linear-gradient(
    to left,
    var(--quinaryColor) 95%,
    rgba(0, 0, 0, 0)
  );
  margin: 1rem;
  padding: 1rem;
  width: 50%;
  border-bottom-right-radius: 40px;
}

.title-aboutBe,
.title-aboutDo {
  color: var(--quaternaryColor);
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
}

.aboutBe h4,
.aboutDo h4 {
  margin-left: 1rem;
  color: var(--secondaryColor);
}

.aboutBe p,
.aboutDo p {
  font-family: var(--secondaryFont);
  margin-left: 1rem;
  color: var(--secondaryColor);
  font-weight: bold;
}

span {
  color: var(--primaryColor);
  font-weight: 700;
}
