:root {
  --primaryColor: #0b5563;
  --secondaryColor: #393e41;
  --terciaryColor: #18206f;
  --quaternaryColor: #dd044c;
  --quinaryColor: #c5e7e2;
  --primaryFont: 'Oswald', sans-serif;
  --secondaryFont: 'Roboto Mono', monospace;
  --terciaryFont: 'Ubuntu', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background: url(https://media.giphy.com/media/l2SpLu8KmdUv9XCgM/giphy.gif);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

/* Banner */

header {
  position: relative;
  margin-bottom: 2rem;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main {
  display: flex;
  font-family: var(--primaryFont);
  text-align: center;
  justify-content: left;
  margin-top: 2rem;
  flex-direction: column;
  width: 100%;
}

.title {
  display: flex;
  font-family: var(--secondaryFont);
  text-shadow: 1px 1px 1px black;
  color: var(--quinaryColor);
  animation-name: apparition;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  margin-bottom: 4rem;
  justify-content: center;
  font-size: 3rem;
  flex-direction: column;
  font-weight: 400;
}

.spanTitle {
  font-size: 4rem;
  color: var(--quinaryColor);
}

.subtitle {
  display: flex;
  padding: 1.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(
    to left,
    var(--primaryColor) 85%,
    rgba(0, 0, 0, 0)
  );
  width: 700px;
  justify-content: end;
  margin: 1rem;
  box-shadow: 10px 10px black;
}

.picture {
  box-shadow: 3px 3px 5px black;
  position: absolute;
  left: 5rem;
  top: 8rem;
}

.btn-banner {
  letter-spacing: 0.1rem;
  font-family: var(--primaryFont);
  text-decoration: none;
  background: linear-gradient(
    to left,
    var(--quinaryColor) 70%,
    rgba(0, 0, 0, 0)
  );
  color: var(--secondaryColor);
  padding: 1rem 10rem 1rem 5rem;
  margin: 5rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  display: flex;
}

.btn-banner:hover {
  color: var(--quinaryColor);
  background: linear-gradient(
    to left,
    var(--secondaryColor) 75%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: 5px 5px 10px var(--quinaryColor);
}

/* end Banner */

/* about me */

.about {
  display: flex;
}

.aboutBe,
.aboutDo {
  font-family: var(--primaryFont);
  background: linear-gradient(
    to left,
    var(--quinaryColor) 90%,
    rgba(0, 0, 0, 0)
  );
  margin: 2rem;
  padding: 1rem;
  height: 50vh;
  width: 50%;
  box-shadow: 5px 5px 10px black;
}

.title-aboutBe,
.title-aboutDo {
  font-family: var(--terciaryFont);
  color: var(--terciaryColor);
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
  text-transform: capitalize;
}

.aboutBe h3,
.aboutDo h3 {
  margin-left: 1rem;
  color: var(--secondaryColor);
  text-align: center;
}

.aboutBe p,
.aboutDo p {
  font-family: var(--primaryFont);
  margin-left: 1rem;
  color: var(--secondaryColor);
  font-weight: 400;
  text-align: center;
  margin-bottom: 3rem;
}

span {
  color: var(--primaryColor);
  font-weight: 700;
}

/* end aboutme */

/* projects */

.projects {
  background: var(--quinaryColor);
  margin: 2rem;
  border-radius: 10px;
  height: 100vh;
  box-shadow: 5px 5px 5px black;
  display: flex;
  flex-direction: column;
}

.images {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  height: 100%;
}

.images > div {
  margin: 1rem;
}

.images > div > img {
  height: 40vh;
  width: 40vw;
}

.images > div > img:hover {
  scale: 1.1;
  cursor: pointer;
  background: #393e41;
}

.titleProjects {
  color: var(--terciaryColor);
  font-family: var(--terciaryFont);
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
  text-transform: capitalize;
}

/* end projects */

/* contact */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--quinaryColor);
  width: 50%;
  margin: 2rem;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContact {
  color: var(--terciaryColor);
  font-family: var(--terciaryFont);
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
  text-transform: capitalize;
}

input,
textarea {
  font-family: var(--secondaryFont);
  color: var(--terciaryColor);
  margin: 1rem;
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--primaryColor);
}

input {
  height: 2rem;
  width: 50%;
  align-self: flex-start;
}

.btn-contact {
  font-family: var(--secondaryFont);
  font-size: 1rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  color: var(--quinaryColor);
  background: var(--terciaryColor);
  border-radius: 10px;
  border: 3px solid var(--terciaryColor);
  width: 25%;
}

.btn-contact:hover {
  border: 3px solid var(--primaryColor);
  cursor: pointer;
}

/* end contact */

/* footer */

footer {
  justify-content: center;
  background: black;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email {
  color: var(--quaternaryColor);
  text-decoration: none;
  font-family: var(--secondaryFont);
  font-weight: 700;
  font-size: 1.2rem;
  margin: 1rem;
}

a {
  text-decoration: none;
}

.social {
  color: var(--quaternaryColor);
  font-size: 3rem;
  margin: 0.5rem;
}

.arrow {
  font-size: 8rem;
  color: var(--terciaryColor);
}

.goTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  background: none;
  border: none;
}

.goTop:hover {
  scale: 1.2;
  animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes move {
  50% {
    transform: translate(0px, -20px);
  }
}
/* end footer */

/* page 2 */

.curriculum {
  width: 100%;
  height: 100vh;
}

/* end page 2 */

/* media-query */

@media (max-width: 1080px) {
  .title {
    font-size: 2rem;
  }

  .picture {
    width: 150px;
    left: 5rem;
    top: 10rem;
  }

  .images > div > img {
    width: 350px;
    height: 250px;
  }
}

/* end media-query */
